@keyframes slideInRight {
    from    {left: 100%;}
    to      {left: 0;}
}

@keyframes slideOutLeft {
    to      {left: -100%;}
}

.ng-enter{

}
	
.ng-leave{

}

.view{

}

.page{

}

body{

}

.navbar-img{
    height:15px; 
    padding-bottom: 3px; 
    padding-right: 2px; 
}

.nav-text-dark{
    color: #000; 
}
.container{
    margin-top: 2.5%; 
}

.card{
    width: col-md; 
}

.card-block{
    padding: 5px; 
}

.list-img{
    height:14px; 
}

thead{
    font-weight: bold; 
}

a{
    color: #000; 
}

.formularActions{
    margin-right:5px; 
    float: right; 
}

.input-Add{
    width: 100%;
}

#reset{
    height: 38px; 
}

