<div class="card">
	<div class="card-block">
    <h4 class="card-title">Kontakt anlegen</h4>
<form ng-submit="save()" class="mt-3">
	<p><input class="input-Add" ng-model="firstname" type="text" placeholder="Vorname" /></p>
	<p><input class="input-Add" ng-model="lastname" type="text" placeholder="Nachname" /></p> 
	<p><input class="input-Add" ng-model="phone" type="number" placeholder="Telefon" /></p>
	<p><input class="input-Add" ng-model="email" type="email" placeholder="Email"/></p>
	<span class="formularActions"><input class="btn btn-outline-primary" type="submit" value="Speichern" /></span>
	<span class ="formularActions"><a href="#!/"><input class="btn btn-outline-primary" type="button" value="Cancel"></a></span>
	</form>
</div>
</div>